<nav class="navbar navbar-expand py-0">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Desktop App
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://github.com/iagocolodetti/Tecnicas_Comuns_de_Criptografia">C#</a>
                <a class="dropdown-item" href="https://github.com/iagocolodetti/Tecnicas_Comuns_de_Criptografia_Java">Java</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/">Voltar</a>
        </li>
    </ul>
</nav>
<div class="row justify-content-center">
    <div class="form-group text-center">
        <h5>- Técnicas Comuns de Criptografia -</h5>
        <a class="btn btn-primary btn-fix-index" routerLink="/cifradecesar">Cifra de César</a>
        <span class="separar"></span>
        <a class="btn btn-primary btn-fix-index" routerLink="/ciframatematica">Cifra Matemática</a>
    </div>
</div>