<div class="row justify-content-center margem">
    <div class="form-group text-center">
        <a href="https://github.com/iagocolodetti?tab=repositories" class="btn btn-success btn-default-width">Meus Projetos</a>
    </div>
</div>
<br>
<div class="row justify-content-center">
    <div class="form-group text-center">
        <h5>- Demonstrações Funcionais -</h5>
        <h6>- Angular CLI v13.1.2 -</h6>
        <br/>
        <div class="form-inline">
            <a class="btn btn-primary btn-default-width" routerLink="/analisecombinatoria">Análise Combinatória</a>
            <span class="separar"></span>
            <a class="btn btn-primary btn-default-width" routerLink="/conversordebase">Conversor de Base</a>
        </div>
        <br/>
        <div class="form-inline justify-content-center">
            <a class="btn btn-primary btn-default-width" routerLink="/criptografia">Criptografia</a>
            <span class="separar"></span>
            <a class="btn btn-primary btn-default-width" routerLink="/jogodavelha">Jogo da Velha</a>
        </div>
    </div>
</div>